= image_tag @recipe.image.url(:medium), class: "recipe_image"

%h1= @recipe.title
%p= @recipe.description

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_recipe_path, class: "btn btn-default"
= link_to "Delete", root_path, method: :detele, data: { confirm: "Are you sure?"}, class: "btn btn-default"
